:root{
    --bgcolor:#beb8ac;
    --blue:#2fb7fe;
    --black:#000;
    --white:#fff;
    --grey:#d8dce4;
    --lightgray:#8e9095;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:var(--bgcolor);
}
.clearfix{
    clear: both;
}
.resume-box{
    width: 800px;
    height: 1000px;
    margin: 100px auto;
    background: var(--white);
    box-shadow: 5px 21px 20px 20px #3d3f4238;
}
.left-section{
    background: var(--black);
    width: 250px;
    height: 1000px;
    float: left;
}
.profile{
    position: relative;
    overflow: hidden;
}
.blue-box{
    width: 257px;
    height: 407px;
    background: var(--blue);
    margin-left: -100px;
    transform: rotateZ(48deg);
    margin-top: -178px;
}